.div {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 50px;
    color: var(--fancywhite);
}

.title_font_left {
    color: var(--pink);
    /*color: #DF00FF;*/
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: right;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
}

.title_font_right {
    color: var(--pink);
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
}

.text_font_left {
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: normal;
    text-align: right;
    padding: 0px;
    margin: 0px;
    margin-right: 20px;
}

.text_font_right {
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: normal;
    text-align: left;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
}

.image_box {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

.div_grid_image_left {
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}

.div_grid_image_right {
    padding-bottom: 200px;
    padding-left: 100px;
    padding-right: 100px;
}