.div {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: 50px;
    color: var(--fancywhite);
}

.title {
    color: var(--pink);
    font-size: 40px;
    font-weight: bold;
    text-align: inherit;
}

.description {
    font-size: 30px;
    font-weight: normal;
    text-align: inherit;
}

.textBoxRight {
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    text-align: left;
}

.textBoxLeft{
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
    text-align: right;
}


.imageBox {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

@media (max-width: 900px){
    .div {
        display: inline-block;
    }

    .imageBox {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .textBoxLeft {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .textBoxRight {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}