.div {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image{
    aspect-ratio: 1;
    border: 2px solid black;
}

.description {
    aspect-ratio: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    word-wrap: break-word;
    /* border: 1px solid black; */
}
