.collaboratorBox {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.div {
    padding: 0;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    aspect-ratio: 2 / 1;
}

.boxdimens {
    height: 100% !important;
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
}

.imagediv {
    width: 50%;
}


.image {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}


.description {
    width: 50%;
    aspect-ratio: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
    background-color: var(--background);
    color: aliceblue;
}


.icon {
    border: 1px;
    padding: 7px;
}

.iconDiv {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 0;
    border: 0;
}

.name {
    margin: 0;
    margin-bottom: 10px;
    font-size: min(4vw, 28px);
}

.desc {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: min(3vw, 20px);
}

.hr {
    max-width: 50%;
    margin: 0;
    border-top: 1px solidrgba(0, 0, 0, 0.1);
    transform: translate(50%, 0);
}

@media (max-width: 900px) {
    .div {
        flex: 0 0 100%;
        max-width: 100%;
    }
}