.menu{
    background: var(--black);
}

.menuText{
    color: var(--white);
}

.appbar {
    background: var(--black);
    height: 100%;
}

.box {
    padding: 10px;
}

.text {
    font-size: 20px;
}

.text:hover {
    color: var(--pink);
}

.imagebox {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -20px;
    height: 90px;
    width: 250px;
}

@media (max-width: 900px) {
    
    .appbar{
        height: 120%;
    }
}