.menu {
    background: #3A3A3A;
    color: var(--white);
}

.menuText {
    color: var(--white);
}

.appbar {
    background: var(--black);
    height: 100%;
}

.box {
    padding: 10px;
}

.text {
    font-size: 20px;
}

.text:hover {
    color: var(--pink);
}

.imagebox {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    height: 60px;
    width: 180px;
}

@media (max-width: 900px) {

    .appbar {
        height: 120%;
    }

    .text {
        font-size: 25px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 500px) {
    .text {
            font-size: 20px;
            padding: 5px;
            padding-left: 10px;
            padding-right: 10px;
        }
}